/.cache/
/.github/CODEOWNERS
/build/
/dist/
/node_modules/
/src/generated/
/storybook-static/
/package-lock.json
/tsconfig.json
# Go templates are not YAML until rendered
/deploy/helm/encryption/templates/
